.event-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event-description, .event-inheritance, .event-annotation {
  font-weight: bold;
}

.event-annotation {
  background-color: green;
  color: white;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-flex;
}